body {
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: 40px auto;
    line-height: 1.6;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}
